@font-face{
    font-family: 'Raleway_Light';
    src: url('..fonts/Raleway-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Raleway_Regular';
    src: url('..fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Raleway_Bold';
    src: url('..fonts/Raleway-Bold.ttf') format('truetype');
}